[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
discord-pretty-help = "*"
aiohttp = ">=3.7.4"
sentry-sdk = "*"
"discord.py" = "*"
flask = "*"
pytest-cov = "*"

[dev-packages]
pytest = "*"

[scripts]
bot = "python3 bot.py"