<html>
<head>
<title>Img.Hub</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<style>
body {
    font-family: Arial, Helvetica, sans-serif;
}
img {
    height: 256px;
    width: auto;
    margin: 10px;
}
.centered_container {
    text-align: center;
    margin: auto;
    width: 50%;
    padding: 10px;
}
</style>
</head>
<body>
<div class="centered_container" id="header">
<h1>Welcome to Img.Hub</h1>
<p>Img.Hub is an experimental web UI for Img.Share. It allows you to browse and share images from Img.Share.</p>
<p>Expect bugs.</p>
</div>
{% for pet in pets %}
<img src="/pets/{{pet}}"/>
{% endfor %}
</body>
</html>  